$dark-background: #4b5161;
$light-background: #f7ecdc;
$dark-text: #5a6175;
$disabled-dark-text: #6e778f;
$light-text: #f7ecdc;
$disabled-light-text: #f4e6d4;
$primary: #fc6e5b;
$darken-primary: #e85d4a;
$secondary: #64a4d9;
$darken-secondary: #4592d1;
$accent: #fed58c;
